.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    
    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;

    tr{
        box-shadow: 0px 2px #979797;
    }

    td{
        padding: 1rem 0;

        & a{
            margin-top: 1rem;
        }
    }


    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 12rem;
        border-radius: 1rem;
        box-shadow: 3px 3px 3px #969696;
        margin: auto;
    }
}
.imagen-small{
    width: 16rem;
}